In [1]:
import pandas as pd

In [15]:
data = pd.read_table('SMSSpamCollection', sep='\t', 
                   header=None, 
                   names=['label', 'sms_message'])
# Dataset from - https://archive.ics.uci.edu/ml/datasets/SMS+Spam+Collection

In [3]:
data.head()

  label                                        sms_message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [16]:
data['label']=data.label.map({'ham':0,'spam':1})
print(data.shape)
data.head()

(5572, 2)

             label
count  5572.000000
mean      0.134063
std       0.340751
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer()

In [7]:
#print(count_vector)

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data['sms_message'], 
                                                    data['label'], 
                                                    random_state=1)

print('Number of rows in the total set: {}'.format(data.shape[0]))
print('Number of rows in the training set: {}'.format(X_train.shape[0]))
print('Number of rows in the test set: {}'.format(X_test.shape[0]))

Number of rows in the total set: 5572
Number of rows in the training set: 4179
Number of rows in the test set: 1393

In [9]:
count_vector = CountVectorizer()

In [10]:
training_data = count_vector.fit_transform(X_train)

In [11]:
testing_data = count_vector.transform(X_test)

In [12]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [13]:
predictions = naive_bayes.predict(testing_data)

In [14]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print('Accuracy score: ', format(accuracy_score(y_test, predictions)))
print('Precision score: ', format(precision_score(y_test, predictions)))
print('Recall score: ', format(recall_score(y_test, predictions)))
print('F1 score: ', format(f1_score(y_test, predictions)))

Accuracy score:  0.9885139985642498
Precision score:  0.9720670391061452
Recall score:  0.9405405405405406
F1 score:  0.9560439560439562

In [19]:
predictions

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [22]:
y_test

1078    0
4028    0
958     0
4642    0
4674    0
       ..
3207    0
4655    0
1140    0
1793    1
1710    0
Name: label, Length: 1393, dtype: int64